.container{
    margin: 0 auto;
    width: 1200px;
    height: 356px;
    display: flex;
    background-color: rgb(41, 157, 255);
}
.btn {
    background: inherit;
    border:none;
    cursor:pointer;
    margin:0 auto;
    display: inline;
    padding: 0;
    width: 64px;
    height: 64px;
    align-self: center;
}
.img-btn{
    display: inline-block;
    box-sizing: border-box;
    width: 64px;
}
.slider {
    width: 256px;
    flex-wrap: wrap;
    margin: auto;
    height: 256px;
    overflow: hidden;
}
.slider-line{
    position: relative;
    display: flex;

    width: 256px;
    margin: 0 auto;
    left: 0;
    transition: all ease 300ms;
}
.picture {
    font-size: 0;
    width: 256px;
    height: 256px;
}